<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.W</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.quoteright</key>
      <integer>-60</integer>
      <key>public.kern2.space</key>
      <integer>-45</integer>
      <key>public.kern2.v</key>
      <integer>-14</integer>
      <key>public.kern2.w</key>
      <integer>-14</integer>
      <key>public.kern2.y</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-45</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.e</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-91</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.W</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.quoteright</key>
      <integer>-45</integer>
      <key>public.kern2.space</key>
      <integer>-30</integer>
      <key>public.kern2.y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.period</key>
      <integer>-105</integer>
      <key>public.kern2.space</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-14</integer>
      <key>public.kern2.V</key>
      <integer>-14</integer>
      <key>public.kern2.W</key>
      <integer>-14</integer>
      <key>public.kern2.Y</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-14</integer>
      <key>public.kern2.a</key>
      <integer>-75</integer>
      <key>public.kern2.c</key>
      <integer>-91</integer>
      <key>public.kern2.colon</key>
      <integer>-91</integer>
      <key>public.kern2.e</key>
      <integer>-91</integer>
      <key>public.kern2.hyphen</key>
      <integer>-45</integer>
      <key>public.kern2.i</key>
      <integer>-18</integer>
      <key>public.kern2.o</key>
      <integer>-91</integer>
      <key>public.kern2.period</key>
      <integer>-91</integer>
      <key>public.kern2.r</key>
      <integer>-30</integer>
      <key>public.kern2.s</key>
      <integer>-70</integer>
      <key>public.kern2.space</key>
      <integer>-14</integer>
      <key>public.kern2.u</key>
      <integer>-70</integer>
      <key>public.kern2.w</key>
      <integer>-45</integer>
      <key>public.kern2.x</key>
      <integer>-40</integer>
      <key>public.kern2.y</key>
      <integer>-45</integer>
      <key>public.kern2.z</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.a</key>
      <integer>-60</integer>
      <key>public.kern2.colon</key>
      <integer>-30</integer>
      <key>public.kern2.e</key>
      <integer>-45</integer>
      <key>public.kern2.hyphen</key>
      <integer>-45</integer>
      <key>public.kern2.i</key>
      <integer>-14</integer>
      <key>public.kern2.o</key>
      <integer>-45</integer>
      <key>public.kern2.period</key>
      <integer>-75</integer>
      <key>public.kern2.r</key>
      <integer>-30</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.colon</key>
      <integer>-14</integer>
      <key>public.kern2.e</key>
      <integer>-14</integer>
      <key>public.kern2.hyphen</key>
      <integer>-14</integer>
      <key>public.kern2.o</key>
      <integer>-14</integer>
      <key>public.kern2.period</key>
      <integer>-45</integer>
      <key>public.kern2.r</key>
      <integer>-14</integer>
      <key>public.kern2.u</key>
      <integer>-14</integer>
      <key>public.kern2.y</key>
      <integer>-7</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.a</key>
      <integer>-60</integer>
      <key>public.kern2.colon</key>
      <integer>-45</integer>
      <key>public.kern2.e</key>
      <integer>-75</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.hyphen</key>
      <integer>-75</integer>
      <key>public.kern2.i</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-65</integer>
      <key>public.kern2.p</key>
      <integer>-60</integer>
      <key>public.kern2.period</key>
      <integer>-105</integer>
      <key>public.kern2.q</key>
      <integer>-75</integer>
      <key>public.kern2.s</key>
      <integer>-60</integer>
      <key>public.kern2.space</key>
      <integer>-14</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-45</integer>
      <key>public.kern2.v</key>
      <integer>-45</integer>
      <key>semicolon</key>
      <integer>-53</integer>
    </dict>
    <key>public.kern1.caron</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>60</integer>
      <key>public.kern2.i</key>
      <integer>58</integer>
      <key>public.kern2.j</key>
      <integer>48</integer>
      <key>public.kern2.l</key>
      <integer>58</integer>
      <key>public.kern2.t</key>
      <integer>70</integer>
    </dict>
    <key>public.kern1.dcaron</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>30</integer>
      <key>public.kern2.i</key>
      <integer>15</integer>
      <key>public.kern2.j</key>
      <integer>40</integer>
      <key>public.kern2.l</key>
      <integer>40</integer>
      <key>public.kern2.parenleft</key>
      <integer>10</integer>
      <key>public.kern2.parenright</key>
      <integer>70</integer>
      <key>public.kern2.quesion</key>
      <integer>20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>50</integer>
      <key>public.kern2.t</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>-14</integer>
      <key>public.kern2.quoteright</key>
      <integer>14</integer>
    </dict>
    <key>public.kern1.ldot</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>90</integer>
    </dict>
    <key>public.kern1.one</key>
    <dict>
      <key>one.osf</key>
      <integer>-54</integer>
      <key>public.kern2.one</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.quoteleft</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <integer>-14</integer>
      <key>public.kern2.s</key>
      <integer>-14</integer>
      <key>public.kern2.space</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-45</integer>
      <key>public.kern2.quoteright</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.space</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-45</integer>
      <key>public.kern2.T</key>
      <integer>-14</integer>
      <key>public.kern2.Y</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-45</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-60</integer>
    </dict>
  </dict>
</plist>
