<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>W</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-55</integer>
      <key>public.kern2.colon</key>
      <integer>-18</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <integer>-9</integer>
      <key>public.kern2.n</key>
      <integer>-18</integer>
      <key>public.kern2.o</key>
      <integer>-18</integer>
      <key>public.kern2.period</key>
      <integer>-55</integer>
      <key>public.kern2.u</key>
      <integer>-18</integer>
      <key>public.kern2.y</key>
      <integer>-18</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>W</key>
      <integer>-55</integer>
      <key>public.kern2.T</key>
      <integer>-74</integer>
      <key>public.kern2.V</key>
      <integer>-74</integer>
      <key>public.kern2.Y</key>
      <integer>-92</integer>
      <key>public.kern2.quoteright</key>
      <integer>-55</integer>
      <key>public.kern2.space</key>
      <integer>-37</integer>
      <key>public.kern2.v</key>
      <integer>-37</integer>
      <key>public.kern2.y</key>
      <integer>-37</integer>
      <key>w</key>
      <integer>-18</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-55</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-111</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>W</key>
      <integer>-55</integer>
      <key>public.kern2.T</key>
      <integer>-74</integer>
      <key>public.kern2.V</key>
      <integer>-74</integer>
      <key>public.kern2.Y</key>
      <integer>-92</integer>
      <key>public.kern2.quoteright</key>
      <integer>-55</integer>
      <key>public.kern2.space</key>
      <integer>-18</integer>
      <key>public.kern2.y</key>
      <integer>-37</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-74</integer>
      <key>public.kern2.period</key>
      <integer>-129</integer>
      <key>public.kern2.space</key>
      <integer>-18</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-18</integer>
      <key>public.kern2.Y</key>
      <integer>-37</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-74</integer>
      <key>public.kern2.O</key>
      <integer>-18</integer>
      <key>public.kern2.a</key>
      <integer>-60</integer>
      <key>public.kern2.c</key>
      <integer>-74</integer>
      <key>public.kern2.colon</key>
      <integer>-111</integer>
      <key>public.kern2.hyphen</key>
      <integer>-55</integer>
      <key>public.kern2.i</key>
      <integer>-18</integer>
      <key>public.kern2.n</key>
      <integer>-55</integer>
      <key>public.kern2.o</key>
      <integer>-74</integer>
      <key>public.kern2.period</key>
      <integer>-111</integer>
      <key>public.kern2.s</key>
      <integer>-74</integer>
      <key>public.kern2.u</key>
      <integer>-60</integer>
      <key>public.kern2.v</key>
      <integer>-74</integer>
      <key>public.kern2.x</key>
      <integer>-40</integer>
      <key>public.kern2.y</key>
      <integer>-74</integer>
      <key>public.kern2.z</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>a</key>
      <integer>-55</integer>
      <key>e</key>
      <integer>-55</integer>
      <key>public.kern2.A</key>
      <integer>-74</integer>
      <key>public.kern2.a</key>
      <integer>-37</integer>
      <key>public.kern2.colon</key>
      <integer>-55</integer>
      <key>public.kern2.hyphen</key>
      <integer>-55</integer>
      <key>public.kern2.i</key>
      <integer>-18</integer>
      <key>public.kern2.n</key>
      <integer>-55</integer>
      <key>public.kern2.o</key>
      <integer>-74</integer>
      <key>public.kern2.period</key>
      <integer>-92</integer>
      <key>public.kern2.u</key>
      <integer>-37</integer>
      <key>public.kern2.y</key>
      <integer>-37</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>a</key>
      <integer>-55</integer>
      <key>e</key>
      <integer>-55</integer>
      <key>o</key>
      <integer>-74</integer>
      <key>public.kern2.A</key>
      <integer>-92</integer>
      <key>public.kern2.colon</key>
      <integer>-74</integer>
      <key>public.kern2.g</key>
      <integer>-60</integer>
      <key>public.kern2.hyphen</key>
      <integer>-55</integer>
      <key>public.kern2.i</key>
      <integer>-37</integer>
      <key>public.kern2.n</key>
      <integer>-55</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.period</key>
      <integer>-111</integer>
      <key>public.kern2.s</key>
      <integer>-70</integer>
      <key>public.kern2.space</key>
      <integer>-18</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-55</integer>
      <key>public.kern2.v</key>
      <integer>-55</integer>
      <key>q</key>
      <integer>-74</integer>
    </dict>
    <key>public.kern1.dcaron</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>50</integer>
      <key>public.kern2.i</key>
      <integer>70</integer>
      <key>public.kern2.jdotless</key>
      <integer>70</integer>
      <key>public.kern2.l</key>
      <integer>75</integer>
      <key>public.kern2.parenleft</key>
      <integer>30</integer>
      <key>public.kern2.parenright</key>
      <integer>110</integer>
      <key>public.kern2.quesion</key>
      <integer>40</integer>
      <key>public.kern2.quotesingle</key>
      <integer>80</integer>
      <key>public.kern2.t</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <integer>18</integer>
    </dict>
    <key>public.kern1.ldot</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>90</integer>
    </dict>
    <key>public.kern1.one</key>
    <dict>
      <key>public.kern2.one</key>
      <integer>-55</integer>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.quoteleft</key>
      <integer>-37</integer>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <integer>-37</integer>
      <key>public.kern2.s</key>
      <integer>-37</integer>
      <key>public.kern2.space</key>
      <integer>-55</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-55</integer>
      <key>public.kern2.quoteright</key>
      <integer>37</integer>
    </dict>
    <key>public.kern1.space</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-37</integer>
      <key>public.kern2.Y</key>
      <integer>-18</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-74</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-74</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-37</integer>
    </dict>
  </dict>
</plist>
