<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6662946B-F990-402F-A6FD-22D24AB84B33</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.enspace</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
