<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AEacute</key>
    <string>A_E_acute.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Aringacute</key>
    <string>A_ringacute.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ebreve</key>
    <string>E_breve.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>Gcircumflex</key>
    <string>G_circumflex.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Hcircumflex</key>
    <string>H_circumflex.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Ibreve</key>
    <string>I_breve.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kcommaaccent</key>
    <string>K_commaaccent.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lcommaaccent</key>
    <string>L_commaaccent.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Obreve</key>
    <string>O_breve.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>Rcommaaccent</key>
    <string>R_commaaccent.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Scircumflex</key>
    <string>S_circumflex.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>Tcedilla</key>
    <string>T_cedilla.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>aeacute</key>
    <string>aeacute.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>aringacute</key>
    <string>aringacute.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>ccircumflex</key>
    <string>ccircumflex.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ebreve</key>
    <string>ebreve.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>gcircumflex</key>
    <string>gcircumflex.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>napostrophe</key>
    <string>napostrophe.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>obreve</key>
    <string>obreve.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>oslashacute</key>
    <string>oslashacute.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>scircumflex</key>
    <string>scircumflex.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>slashlongcomb</key>
    <string>slashlongcomb.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>tcedilla</key>
    <string>tcedilla.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>y.loclGUA</key>
    <string>y.loclG_U_A_.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>zero.tf.zero</key>
    <string>zero.tf.zero.glif</string>
    <key>zero.zero</key>
    <string>zero.zero.glif</string>
  </dict>
</plist>
